div#canvas-container {
  position: absolute;
  width: 100vw;
  height: 60vh;
  top: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

div#canvas-container::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  background-color: transparent;
  z-index: 2;
}
/* 
div.content {
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  transform: translate3d(calc(50% + 40px), 0, 0);
  text-align: left;
  background: rgb(0, 200, 255);
  z-index: 5;
}
.content::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 40px;
  height: 1px;
  width: 110px;
  background: rgb(0, 200, 255);
  z-index: -10;
} */
